h1 {color:darkgreen; font:150% arial,sans-serif; font-weight:bold; background-color:beige;}

h2 {color:darkgreen; font:200% arial,sans-serif; font-weight:bold; background-color:beige;text-align:center;}

h3 {color:white; font:250% arial,sans-serif; font-weight:bold; text-align:center; background-color:DarkSlateGray; height:48px;width:100%;}

h4 {color:darkgreen; font:150% arial,sans-serif; font-weight:bold; background-color:beige;}

p {color:black; font:16px arial,sans-serif;}

a {color:blue; font:16px arial,sans-serif;text-decoration:none;}

body {background-color:#EEEEEE; font:16px arial,sans-serif;}